input,
textarea,
select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
	border-color: #5a385f;
	box-shadow: 0 0 5px rgba(90, 56, 95, 0.2);
}

.text-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.status-priority {
	display: flex;
	width: 80%;
	margin: 0 auto 10px;
}

.input-container {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 10px;
}
