.task-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease;
}

.expanded button {
	transform: rotate(90deg);
}

.expanded .task-list {
	max-height: none;
}

.task-item {
	display: grid;
	width: 100%;
	grid-template-columns: 80px 380px 110px 120px 150px 190px 60px 80px;

	@media screen and (max-width: 1350px) {
		grid-template-columns: 72px 342px 99px 108px 135px 171px 54px 72px;
	}

	@media screen and (max-width: 1200px) {
		grid-template-columns: 65px 308px 90px 98px 122px 154px 49px 65px;
	}

	@media screen and (max-width: 1120px) {
		grid-template-columns: 59px 278px 81px 89px 110px 139px 45px 59px;
	}

	@media screen and (max-width: 1020px) {
		grid-template-columns: 54px 251px 73px 81px 99px 126px 41px 54px;
	}

	@media screen and (max-width: 950px) {
		grid-template-columns: 49px 226px 66px 73px 90px 114px 37px 49px;
	}

	@media screen and (max-width: 860px) {
		grid-template-columns: 45px 204px 60px 66px 81px 103px 34px 45px;
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: 41px 184px 54px 60px 73px 93px 31px 41px;
	}

	@media screen and (max-width: 660px) {
		grid-template-columns: 37px 162px 49px 54px 66px 84px 28px 37px;
	}

	@media screen and (max-width: 600px) {
		grid-template-columns: 34px 146px 45px 49px 60px 76px 26px 34px;
	}

	@media screen and (max-width: 540px) {
		grid-template-columns: 31px 132px 41px 45px 54px 69px 24px 31px;
	}

	@media screen and (max-width: 500px) {
		grid-template-columns: 28px 119px 37px 41px 49px 63px 22px 28px;
	}

	@media screen and (max-width: 465px) {
		grid-template-columns: 26px 108px 34px 37px 45px 57px 20px 26px;
	}

	@media screen and (max-width: 435px) {
		grid-template-columns: 24px 98px 31px 34px 41px 52px 18px 24px;
	}

	@media screen and (max-width: 410px) {
		grid-template-columns: 22px 89px 28px 31px 37px 47px 17px 22px;
	}

	@media screen and (max-width: 390px) {
		grid-template-columns: 20px 81px 26px 28px 34px 43px 16px 20px;
	}

	@media screen and (max-width: 360px) {
		grid-template-columns: 18px 74px 24px 26px 31px 39px 15px 18px;
	}

	@media screen and (max-width: 340px) {
		grid-template-columns: 17px 67px 22px 24px 28px 36px 14px 17px;
	}

	@media screen and (max-width: 320px) {
		grid-template-columns: 16px 61px 20px 22px 26px 33px 13px 16px;
	}

	@media screen and (max-width: 300px) {
		grid-template-columns: 15px 55px 18px 20px 24px 30px 12px 15px;
	}
}

.task-item::before {
	content: '';
	background-color: black;
	height: 1px;
	position: absolute;
	left: 5%;
	opacity: 0.1;
	top: -2px;
	width: 90%;
}

.task-item:first-child::before {
	display: none;
}

.retard-tasks {
	color: #d32f2f;
	background-color: #ffebee;
}
.today-tasks {
	color: #4caf50;
	background-color: #e8f5e9;
}
.next-week-tasks {
	color: #673ab7;
	background-color: #ede7f6;
}
.Demain {
	color: #ffc107;
	background-color: #fff9c4;
}

.Lundi {
	color: #e91e63;
	background-color: #fce4ec;
}
.Mardi {
	color: #9c27b0;
	background-color: #f3e5f5;
}
.Mercredi {
	color: #673ab7;
	background-color: #ede7f6;
}
.Jeudi {
	color: #3f51b5;
	background-color: #e8eaf6;
}
.Vendredi {
	color: #2196f3;
	background-color: #e3f2fd;
}
.Samedi {
	color: #03a9f4;
	background-color: #e1f5fe;
}
.Dimanche {
	color: #00bcd4;
	background-color: #e0f7fa;
}

.this-week-tasks {
	color: #2196f3;
	background-color: #e3f2fd;
}
.this-month-tasks {
	color: #9c27b0;
	background-color: #f3e5f5;
}
.this-year-tasks {
	color: #f44336;
	background-color: #ffebee;
}
.becoming-tasks {
	color: #607d8b;
	background-color: #eceff1;
}
.next-weekend-tasks {
	color: #ff9800;
	background-color: #fff3e0;
}

.this-weekend-tasks {
	color: #4caf50;
	background-color: #e8f5e9;
}

.next-month-tasks {
	color: #9c27b0;
	background-color: #f3e5f5;
}

.next-year-tasks {
	color: #f44336;
	background-color: #ffebee;
}

.faire {
	color: #1976d2;
	background-color: #bbdefb;
}
.cours {
	color: #0d47a1;
	background-color: #e3f2fd;
}
.Terminé {
	color: #388e3c;
	background-color: #c8e6c9;
}
.Archivé {
	color: #616161;
	background-color: #f5f5f5;
}

.faible {
	color: #0288d1;
	background-color: #b3e5fc;
}
.moyenne {
	color: #c2185b;
	background-color: #f8bbd0;
}
.haute {
	color: #c2185b;
	background-color: #f8bbd0;
}
.Urgent {
	color: #d32f2f;
	background-color: #ffcdd2;
}

#avatarLetterAssigned {
	color: #eaefff;
	font-size: 1rem;
}
