.task-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease;
}

.expanded button {
	transform: rotate(90deg);
}

.expanded .task-list {
	max-height: none;
}

.responsive-input {
	@media screen and (min-width: 768px) {
		display: block;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.task-item {
	display: grid;
	width: 100%;
	grid-template-columns: 80px 340px 150px 150px 150px 160px 60px 80px;

	@media screen and (max-width: 1350px) {
		grid-template-columns: 72px 290px 140px 140px 150px 165px 60px 60px;
	}

	@media screen and (max-width: 1280px) {
		grid-template-columns: 65px 250px 140px 140px 149px 165px 60px 50px;
	}

	@media screen and (max-width: 1100px) {
		grid-template-columns: 60px 230px 140px 140px 148px 164px 60px 40px;
	}

	@media screen and (max-width: 1023px) {
		grid-template-columns: 60px 300px 100px 110px 90px 120px 44px 59px;
	}

	@media screen and (max-width: 950px) {
		grid-template-columns: 53px 290px 98px 105px 90px 106px 40px 53px;
	}

	@media screen and (max-width: 860px) {
		grid-template-columns: 43px 260px 79px 105px 90px 86px 40px 43px;
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: 39px 240px 71px 105px 90px 78px 40px 39px;
	}

	@media screen and (max-width: 767px) {
		grid-template-columns: 46px 260px 60px 60px 60px 93px 40px 46px;
	}

	@media screen and (max-width: 700px) {
		grid-template-columns: 46px 220px 60px 60px 60px 93px 40px 46px;
	}

	@media screen and (max-width: 660px) {
		grid-template-columns: 42px 177px 60px 60px 60px 84px 40px 42px;
	}

	@media screen and (max-width: 640px) {
		grid-template-columns: 42px 177px 60px 60px 60px 84px 42px;
	}

	@media screen and (max-width: 600px) {
		grid-template-columns: 38px 160px 60px 60px 60px 80px 41px;
	}

	@media screen and (max-width: 540px) {
		grid-template-columns: 35px 144px 50px 50px 50px 79px 40px;
	}

	@media screen and (max-width: 510px) {
		grid-template-columns: 32px 130px 50px 50px 50px 78px 39px;
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: 32px 130px 50px 50px 50px 40px 39px;
	}

	@media screen and (max-width: 465px) {
		grid-template-columns: 29px 117px 50px 50px 50px 35px 38px;
	}

	@media screen and (max-width: 435px) {
		grid-template-columns: 27px 106px 50px 50px 50px 30px 37px;
	}

	@media screen and (max-width: 410px) {
		grid-template-columns: 25px 96px 50px 50px 50px 25px 36px;
	}

	@media screen and (max-width: 390px) {
		grid-template-columns: 23px 87px 45px 45px 45px 20px 35px;
	}

	@media screen and (max-width: 360px) {
		grid-template-columns: 21px 79px 40px 40px 40px 18px 34px;
	}

	@media screen and (max-width: 340px) {
		grid-template-columns: 19px 72px 40px 40px 40px 16px 33px;
	}

	@media screen and (max-width: 320px) {
		grid-template-columns: 18px 65px 40px 40px 40px 14px 32px;
	}

	@media screen and (max-width: 300px) {
		grid-template-columns: 17px 59px 55px 55px 55px 12px 31px;
	}
}

.task-item::before {
	content: '';
	background-color: black;
	height: 1px;
	position: absolute;
	left: 5%;
	opacity: 0.1;
	top: -2px;
	width: 90%;
}

.task-item:first-child::before {
	display: none;
}

.retard-tasks {
	color: #d32f2f;
	background-color: #ffebee;
}
.today-tasks {
	color: #4caf50;
	background-color: #e8f5e9;
}
.next-week-tasks {
	color: #673ab7;
	background-color: #ede7f6;
}
.Demain {
	color: #ffc107;
	background-color: #fff9c4;
}

.Lundi {
	color: #e91e63;
	background-color: #fce4ec;
}
.Mardi {
	color: #9c27b0;
	background-color: #f3e5f5;
}
.Mercredi {
	color: #673ab7;
	background-color: #ede7f6;
}
.Jeudi {
	color: #3f51b5;
	background-color: #e8eaf6;
}
.Vendredi {
	color: #2196f3;
	background-color: #e3f2fd;
}
.Samedi {
	color: #03a9f4;
	background-color: #e1f5fe;
}
.Dimanche {
	color: #00bcd4;
	background-color: #e0f7fa;
}

.this-week-tasks {
	color: #2196f3;
	background-color: #e3f2fd;
}
.this-month-tasks {
	color: #9c27b0;
	background-color: #f3e5f5;
}
.this-year-tasks {
	color: #f44336;
	background-color: #ffebee;
}
.becoming-tasks {
	color: #607d8b;
	background-color: #eceff1;
}
.next-weekend-tasks {
	color: #ff9800;
	background-color: #fff3e0;
}

.this-weekend-tasks {
	color: #4caf50;
	background-color: #e8f5e9;
}

.next-month-tasks {
	color: #9c27b0;
	background-color: #f3e5f5;
}

.next-year-tasks {
	color: #f44336;
	background-color: #ffebee;
}

.faire {
	color: #1976d2;
	background-color: #bbdefb;
}
.cours {
	color: #0d47a1;
	background-color: #e3f2fd;
}
.Terminé {
	color: #388e3c;
	background-color: #c8e6c9;
}
.Archivé {
	color: #616161;
	background-color: #f5f5f5;
}

.faible {
	color: #0288d1;
	background-color: #b3e5fc;
}
.moyenne {
	color: #c2185b;
	background-color: #f8bbd0;
}
.haute {
	color: #c2185b;
	background-color: #f8bbd0;
}
.Urgent {
	color: #d32f2f;
	background-color: #ffcdd2;
}

#avatarLetterAssigned {
	color: #eaefff;
	font-size: 1rem;
}

.ellipsis {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
