#tasks {
	overflow-y: scroll;
	max-height: 80vh;
}

#retard-tasks {
	background: #e1786a;
}

#retard-tasks .task-circle {
	background: #fff;
}

.task-block {
	background-color: white;
	padding: 20px;
	margin: 15px;
	border-radius: 5px;
}

.task-block-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toggle-button {
	transition: transform 0.3s ease;
	background: none;
	color: black;
}

.toggle-button:hover {
	background: none;
}

.task-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease;
}

.expanded .toggle-button {
	transform: rotate(90deg);
}

.expanded .task-list {
	max-height: 100vh;
}

.task-item {
	padding: 20px 0;
	display: grid;
	grid-template-columns: 400px 140px 140px 180px 190px 140px;
	cursor: pointer;
	position: relative;
}

.task-item::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 5%;
	height: 1px;
	opacity: 0.1;
	background-color: black;
	width: 90%;
}

.task-item:first-child::before {
	display: none;
}

.task-circle {
	border-radius: 50px;
	border: 1px solid black;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.task-title {
	padding: 5px 15px 0;
	max-width: 400px;
	display: flex;
	justify-content: baseline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task-day,
.task-status,
.task-priority,
.task-workspace,
.task-assigned {
	text-align: start;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 10px;
}

.retard {
	background: #efefef;
}
.today-tasks {
	color: #4caf50;
	background-color: #e8f5e9;
}
.Demain {
	color: #ffc107;
	background-color: #fff9c4;
}

.Lundi {
	color: #e91e63;
	background-color: #fce4ec;
}
.Mardi {
	color: #9c27b0;
	background-color: #f3e5f5;
}
.Mercredi {
	color: #673ab7;
	background-color: #ede7f6;
}
.Jeudi {
	color: #3f51b5;
	background-color: #e8eaf6;
}
.Vendredi {
	color: #2196f3;
	background-color: #e3f2fd;
}
.Samedi {
	color: #03a9f4;
	background-color: #e1f5fe;
}
.Dimanche {
	color: #00bcd4;
	background-color: #e0f7fa;
}

.this-week-tasks {
	color: #2196f3;
	background-color: #e3f2fd;
}
.this-month-tasks {
	color: #9c27b0;
	background-color: #f3e5f5;
}
.this-year-tasks {
	color: #f44336;
	background-color: #ffebee;
}
.becoming-tasks {
	color: #607d8b;
	background-color: #eceff1;
}

.faire {
	color: #f57c00;
	background-color: #fff3e0;
}
.cours {
	color: #1976d2;
	background-color: #bbdefb;
}
.Terminé {
	color: #388e3c;
	background-color: #c8e6c9;
}
.Archivé {
	color: #616161;
	background-color: #f5f5f5;
}

.faible {
	color: #0288d1;
	background-color: #b3e5fc;
}
.moyenne {
	color: #c2185b;
	background-color: #f8bbd0;
}
.haute {
	color: #c2185b;
	background-color: #f8bbd0;
}
.Urgent {
	color: #d32f2f;
	background-color: #ffcdd2;
}

.task-assigned {
	border-radius: 100px;
	background: #171f39;
	height: 25px;
	width: 25px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#avatarLetterAssigned {
	color: #eaefff;
	font-size: 1rem;
}
